body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}

#header
{
	height: 100vh;
	background: url("tdot.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.user-box
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.user-box img
{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #333;
}

.user-box h1
{
	color: #fff;
	font-weight: bold;
	margin 10px;
	font-size: 70px;
	font-family: 'Aldrich', sans-serif;
	background-color: #123;

}

.user-box p
{
	color: #fff;
	background-color: #123;
	font-family: 'Aldrich', sans-serif;

}

.about{
	padding-top: 	100px;
	padding-bottom: 	50px;
}
.profile-img{
	height: 400px;
}
.nav-bar{
	top:0;
	position: sticky;
	z-index: 	2;
}
.navbar
{
	background-color: 	#000;
}

.progress
{
	borger-radius:16px !important;
	margin-bottom: 10px;
}

.progress-bar
{
	border-radius: 16px;
	background: #000 !important;
}