body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#header
{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("tdot.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.user-box
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.user-box img
{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #333;
}

.user-box h1
{
	color: #fff;
	font-weight: bold;
	margin 10px;
	font-size: 70px;
	font-family: 'Aldrich', sans-serif;
	background-color: #123;

}

.user-box p
{
	color: #fff;
	background-color: #123;
	font-family: 'Aldrich', sans-serif;

}


.about{
	padding-top: 	100px;
	padding-bottom: 	50px;
	background-image: linear-gradient(to left, #1F2833, #0B0C10);
	background-position: center;
	background-size: cover;                
}

.profile-img{
	height: 400px;
}
.nav-bar{
	top:0;
	position: sticky;
	z-index: 	2;
}
.navbar
{
	background-color: 	#000;
}

.progress
{
	border-radius:16px !important;
	margin-bottom: 10px;
}

.progress-bar
{
	border-radius: 16px;
	background: #000 !important;
}

.about .btn
{
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent;
}

.about .btn: focus
{
	box-shadow: none !important;

}

.about .btn:hover
{
	border: 2px solid #000 !important;
	background: #000 !important;
	transition: 0.5s;
}

.about .btn .fa
{
	margin-right: 10px;
}

/*-----------Resume Timeline----*/
.resume
{
	padding-top: 50px;
	padding-bottom: 30px;
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("b.jpg");
	background-position: center;
	background-size: cover;
	color: #fff;
}

.resume h3
{
	margin-bottom: 50px;
}

.timeline
{
	list-style-type: none;
	position: relative;
}

.timeline:before
{
	content: '';
	background: #3567d4;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timeline li
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background: #fff;
}


.timeline li h4
{
	background-color: #004d80;
	padding: 5px 0 5px 20px;
	color: #fff;
	
	font-size: 15px;

}

.timeline li:before
{
	content: '';
	background: #FFF;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #3567d4;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}

/*-----------Skills----*/

.skills
{
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: linear-gradient(to left, #2b8ccc, #022740);
	background-position: center;
	background-size: cover;
	color: #fff;
}

.skills h1
{
	margin-bottom: 17px;

}

.skills-box
{
	background: lightsteelblue;
	padding: 10px;
	margin-top: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.skills-box .fas
{
	margin: 0 10px;
	font-size: 20px;
}

.skills-box span
{
	margin:3px;
	font-size: 20px;
	font-weight: bold;
}

.skills-box p
{
	font-size: 15px;
	margin-top: 20px;
	color: #272e50;
}

.skills-box:hover
{
	background: #004d80;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	transition: 1s;
}

.skills-box:hover p
{
	color: #fff;
}

/*----Contact------*/

.contact
{
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("tdot.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.contact .row
{
	padding: 30px 0;
	font-size: 22px;
}

.contact .col-md-4 .fas
{
	padding: 10px;
	font-size: 40px;
}

.contact .col-md-4 .fab
{
	padding: 10px;
	font-size: 40px;
}

.footer
{
	background: black;
	height: 50px;
	
	color: #fff;
	padding-top: 10px;
	min-width:  50px;
}

